.navbar-brand {
    position: relative;
    right: 300px;
}
#nav-logo {
    /* position: absolute;
    left: 20px; */
    margin-left: 280px;
}
#nav-2 {
    color: black;
    font-size: 20px;
    background-color: antiquewhite;
}